.master-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.dog-picture {
  width: 50%;
  padding: 5px;
}

.dog-pictures-form > input, .dog-breed-form > input {
  margin-top:5px;
  margin-right: 5px;
  margin-bottom: 5px;
}